---
---

.alert {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  border-radius: var(--rounded);
  overflow: hidden;
  text-align: left;
  line-height: var(--spacing);
}

.alert-default { --color: #808080; }
.alert-tip { --color: #d946ef; }
.alert-help { --color: #6366f1; }
.alert-info { --color: #0ea5e9; }
.alert-success { --color: #22c55e; }
.alert-warning { --color: #f59e0b; }
.alert-error { --color: #ef4444; }

.alert:before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.1;
  background: var(--color);
  z-index: -1;
}

.alert > .icon {
  color: var(--color);
  font-size: var(--large);
}

.alert-content > *:first-child {
  margin-top: 0;
}

.alert-content > *:last-child {
  margin-bottom: 0;
}
