---
---

$two: 750px;
$one: 500px;

.cols {
  display: grid;
  grid-template-columns: repeat(var(--repeat), 1fr);
  align-items: flex-start;
  gap: 40px;
  margin: 40px 0;
}

.cols-1 { --repeat: 1; }
.cols-2 { --repeat: 2; }
.cols-3,
.cols-4,
.cols-5,
.cols-6 { --repeat: 3; }

.cols > * {
  min-width: 0;
  min-height: 0;
}

.cols > div > *:first-child {
  margin-top: 0 !important;
}

.cols > div > *:last-child {
  margin-bottom: 0 !important;
}

@media (max-width: $two) {
  .cols-2,
  .cols-3,
  .cols-4,
  .cols-5,
  .cols-6 { --repeat: 2; }
}

@media (max-width: $one) {
  .cols {
    --repeat: min(1, var(--cols));
  }
}
